@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: 1.5;
    font-family: "Epilogue", sans-serif;
    font-size: 16px;
    @apply bg-white dark:bg-gray-900;
  }
}
